:root {
  --color-shark: #24292E;
  --color-havelock: #5393d6;
  --color-silver: #bcbcbc;
  --color-white: #ffffff;
  --color-promegranate: #f24725;
  --color-boulder: #797979;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*HELPER CLASSES*/
.text--bold {
  font-weight: bold;
}

.flex__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex__column {
  display: flex;
  flex-direction: column;
}

/* header begins */
.nav__primary {
  background-color: var(--color-shark);
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
  height: 62px;
  padding: 16px 32px 16px 32px;
  z-index: 32;
  font-size: 14px;
}

.nav__primary .nav__left {
  display: flex;
  align-items: center;
}


.nav__primary .search {
  border: 1px solid #444D56;
  padding: 4px 8px;
  margin-left: 20px;
  font-size: inherit;
  border-radius: 6px;
  width: 272px;
  height: 32px;
  display: flex;
  min-height: 28px;
  max-width: 100%;
  justify-content: space-between;
}

.nav__primary .search div {
  border: 1px solid #444D56;
  border-radius: 5px;
  width: 19px;
  height: 20px;
  color: #444D56;
}

.nav__primary .search__input {
  outline: none;
  background-color: var(--color-shark);
  border: unset;
  color: var(--color-white);
  font-size: inherit;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav__primary .search__input:focus {
  outline: unset;
  width: 544px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav__primary .search__input::placeholder {
  color: var(--color-boulder);
  font-size: 14px;
}

.nav__primary .logo svg path,
.nav__primary .notification svg path,
.nav__primary .new svg path {
  fill: var(--color-white);
}

.nav__primary .logo svg:hover,
.nav__primary .notification svg:hover,
.nav__primary .new svg:hover {
  opacity: 0.8;
}

.nav__primary .new,
.nav__primary .notification,
.nav__primary .profile {
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
}



.nav__links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  margin: 0 0 0 10px;
}

.nav__item {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  padding: 0 10px;
  cursor: pointer;
  color: var(--color-white);
  text-decoration: none;
}

.nav__item:hover {
  opacity: 0.8;
}


.nav__primary .nav__right {
  display: flex;
  align-items: center;
}

.nav__primary .dropdown {
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--color-white);
  margin-top: 3px;
  pointer-events: none;
  margin-left: 3px;
  cursor: pointer;
}

.profile__img--small {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

/* secondary navbar  */
.secondary__nav {
  display: flex;
  border-bottom: 1px solid var(--color-silver);
  height: 48px;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  position: sticky;
  top: 0;
}

.tab {
  align-items: center;
  padding: 8px 20px;
}

.tab__text {
  color: var(--color-shark);
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none;
}

.repo__count {
  background-color: var(--color-silver);
  color: var(--color-shark);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  border: none;
  height: 20px;
  width: 29px;
  border-radius: 24px;
  padding: 2px 4px;
}

.main__content {
  display: flex;
  padding: 0 140px 0 130px;
  width: 100vw;
  position: relative;
}

.desktop__profile {
  top: -90px ;
  position: absolute;
}

.name {
  color: #24292e;
  font-size: 26px;
  font-weight: 600;
  line-height: 32.5px;
  text-transform: capitalize;
}

.login {
  color: #586069;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

.bio {
  color: #24292e;
  line-height: 24px;
  font-size: 16px;
  margin: 20px 0;
}

.repo__tab {
  max-width: 940px;
  padding-left: 15px;
}

.profile__img--big {
  border-radius: 50%;
  width: 280px;
  height: 280px;
}

.search__container {
  border-bottom: 1px solid var(--color-silver);
  width: 100%;
}

.repo__search {
  width: 100%;
  margin: 20px 0;
  height: 32px;
  border-radius: 7px;
  border: 1px solid var(--color-silver);
}

.repo__search::-webkit-input-placeholder {
  color: var(--color-boulder);
  padding-left: 10px;
}

.repo__search:-ms-input-placeholder {
  color: var(--color-boulder);
  padding-left: 10px;
}

.repo__search::-ms-input-placeholder {
  color: var(--color-boulder);
  padding-left: 10px;
}

.repo__search::placeholder {
  color: var(--color-boulder);
  padding-left: 10px;
}

.search__result {
  padding: 20px 0;
  border-bottom: 1px solid var(--color-silver);
}

.meta {
  display: flex;
  padding: 13px 0;
}

.mobile__img{
  border-radius: 50%;
  width: 48px;
  height: 48px;
}


.mobile-profile {
  display: none;
}

.desktop-profile{
position: relative;
top: -30px;
}

.text-input-container {
  padding: 15px 0;
  border-bottom: 1px solid var(--color-silver);
}

.main-container input[type="text"] {
  padding: 5px 12px;
  border-radius: 6px;
  border: 1px solid #e1e4e8;
  width: 100%;
  line-height: 20px;
}

.main-container input[type="text"]:focus {
  border-color: #0366d6;
  outline: none;
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

.main-container .filter {
  padding: 15px 0;
  border-bottom: 1px solid var(--color-silver);
}

.main-container .filter p {
  margin: 0;
}

.main-container .filter p span {
  font-weight: bold;
}

.repo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #e1e4e8;
}

.repo-details .description {
  padding: 5px 0;
  color: #586069;
  font-size: 14px;
  line-height: 21px;
}

.repo-details a {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.repo-details a:hover {
  text-decoration: underline;
}

.repo-details p {
  color: #586069;
}
.repo-details .meta {
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
}

.repo-details .meta span {
  margin-right: 12px;
}

.meta .rounded {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: purple;
  content: "";
  display: inline-block;
  margin-right: 4px;
}

.meta .item {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.meta .item svg {
  fill: #6a737d;
  margin-right: 6px;
}

.repo-star-button button {
  height: 28px;
  width: 70px;
  color: #24292e;
  padding: 3px 12px;
  background-color: #fafbfc;
  border-radius: 6px;
  border: 1px solid rgb(27 31 35 / 15%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.repo-star-button button svg {
  fill: #6a737d;
  margin-right: 6px;
}

.mobile__bio {
  width: 320px;
  font-size: 12px;
  padding: 8px 0;
}



@media (max-width: 800px) {

  .hide-on-mobile{
    display: none !important;
  }

  .new, .profile, .search input, .search div, .search, .nav__links {
    display: none !important;
  }

  .main__content {
    flex-direction: column;
    padding: 7px 10px;
  }
  

  .mobile-profile{
    width: 100%;
    padding: 0 5px ;
    display: block;
  }
 
  .mobile-profile .top {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .details {
    margin-left: 20px;
  }


  .description {
    font-size: 6px;
  }

  .desktop-profile{
    display: none;
  }

  .repo__tab {
    width: 100%;
    padding: 0 5px;
  }

  .secondary__nav {
    overflow-x: scroll;
  }
}